* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #156064;
    --color-two: #00C49A;
    --color-three: #F8E16C;
    --color-four: #FFC2B4;
    --color-five: #FB8F67;
}

body {
    background-color: var(--color-one);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.window {
    background-color: var(--color-three);
    height: 600px;
    width: 900px;
    display: flex;
    flex-direction:column;
}

nav {
    width: 100%;
    height: 20px;
    background-color: var(--color-two);

}

.content-window {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:row;
    overflow:hidden;
}

.database {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    padding: 2em;
}

.database h1 {
    text-align:center;
    text-decoration:underline;
}

ul {
    list-style-type:none;
}

.crud-options {
    background-color: var(--color-four);
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 2em;
    margin-top:30px;
}

.button-holder {
    width: 100%;
    display:flex;
    flex-direction:row;
}

.form-wrapper {
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1em;
}

.label-wrapper {
    width: 100%;
    height: 100%;
    grid-template-columns: 1;
}

form button {
    width: 100%;
}

input {
    grid-template-columns: 2 / -1;
}

.crud-options-nav {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: fit-content;
    padding: 1em;
    gap: 1em;
    background-color:var(--color-five);
}

.crud-options-nav button {
    color: white;
    cursor: pointer;
    padding: 0.8em;
    border-radius: 2em;
}

.deny {
    background: red;
}

.form-button.deny {
    display: none;
}

.write-database.deny {
    pointer-events:none;
}

.allow {
    background: green;
}

.no-read-access {
    display: none;
}

.read-access {
    display: block;
}

